:global {
  @import "./../mixins";

  .smpladmin_Icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
    display: inline-block;

    @include mixin_animation(all);
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}
