// Theme variables
$theme_color_defaultText: $color_Grey1;
$theme_color_defaultText_hover: $color_Grey1;
$theme_color_defaultBackground: transparent;
$theme_color_defaultBackground_hover: $color_Grey7;

$theme_color_primaryText: $color_Primary;
$theme_color_primaryText_hover: $color_Primary;
$theme_color_primaryBackground: transparent;
$theme_color_primaryBackground_hover: lighten($color_Primary, 35); //#e2f3e1;

$theme_color_successText: $color_Success;
$theme_color_successText_hover: $color_Success;
$theme_color_successBackground: transparent;
$theme_color_successBackground_hover: lighten($color_Success, 60); //#e2f3e1;

$theme_color_dangerText: $color_Danger;
$theme_color_dangerText_hover: $color_Danger;
$theme_color_dangerBackground: transparent;
$theme_color_dangerBackground_hover: lighten($color_Danger, 35);
