@import "./_variables.scss";
@import "./_basic.scss";

// Theme variables
$theme_color_defaultText: $color_Grey1;
$theme_color_defaultText_hover: $color_Grey1;
$theme_color_defaultBackground: transparent;
$theme_color_defaultBackground_hover: $color_Grey7;

$theme_color_primaryText: #029c4f;
$theme_color_primaryText_hover: #029c4f;
$theme_color_primaryBackground: transparent;
$theme_color_primaryBackground_hover: #e2f3e1;

$theme_color_dangerText: #ec403e;
$theme_color_dangerText_hover: #ec403e;
$theme_color_dangerBackground: transparent;
$theme_color_dangerBackground_hover: #fed6d6;

:disabled,
[disabled] {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.smpladmin_primary {
  color: $theme_color_primaryText !important;
  background-color: $theme_color_primaryBackground !important;

  &:hover {
    color: $theme_color_primaryText_hover !important;
    background-color: $theme_color_primaryBackground_hover !important;
  }
}

.smpladmin_danger {
  color: $theme_color_dangerText !important;
  background-color: $theme_color_dangerBackground !important;

  &:hover {
    color: $theme_color_dangerText_hover !important;
    background-color: $theme_color_dangerBackground_hover !important;
  }
}
