// Variables
$color_Green: #4db312;
//$color_Grey: #494c51;
$color_Hover: #ddd;

$color_almostBlack: #333;
$color_Grey1: #575f71;
$color_Grey2: #575f71;
$color_Grey3: #b6b6b6;
$color_Grey4: #666;
$color_Grey5: #d0d4dd;
$color_Grey6: #505969;
$color_Grey7: #dddfe3;
$color_Grey8: #d4d4d4;
$color_Grey9: #f1f1f1;
$color_Grey10: #fafafa;
$color_Grey11: #89909f;
$color_Blue1: #3c82c6;
$color_Yellow1: #fefad2;

$size_borderWeight: 2px;
$size_elementHeight: 17px;
$size_layout_TopHeaderHeight: 91px;
$size_layout_SidemenuWidth: 251px;
$size_layout_SidebarFooterHeight: 91px;

$padding_Default20: 20px;
$padding_Default10: 10px;

$fontsize_11: 0.7rem;
$fontsize_12: 0.8rem;
$fontsize_13: 0.85rem;
$fontsize_14: 1rem;
$fontsize_18: 1.1rem;
$fontsize_24: 1.5rem;

$color_Green1: #029c4f;
$color_Red1: #ec403e;
$color_defaultBlue: #3c82c6;
$color_lightBlue: #9dc0e2;
$color_White: white;
$color_PageBackground: #eef3f6;

$icons_grey: #575f71;
$icons_white: #ffffff;
//B6B6B6
